<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      #map {
        height: 400px;
        width: 100%;
      }
      .inputs {
        font-family: Courier New;
      }
    </style>
  </head>
  <body>
    <form id="form1" class="inputs">
      <input id="starting_loctation" type="text" />
      <label for="starting_loctation">Starting Location</label><br />

      <input
        id="return_original"
        type="checkbox"
        onchange="return_original()"
      />
      <label for="return_original">Return back here?</label><br />
    </form>
    <form id="form2" class="inputs">
      <input id="ending_location" type="text" />
      <label for="ending_location_loctation">Ending Location</label><br />
    </form>
    <form id="form3" class="inputs">
      <p>Travel Method:</p>
      <input type="radio" id="Walking" name="travel_method" value="Walking" />
      <label for="Walking">Walking</label><br />
      <input type="radio" id="Running" name="travel_method" value="Running" />
      <label for="Running">Running</label><br />
      <input
        type="radio"
        id="Bicycling"
        name="travel_method"
        value="Bicycling"
      />
      <label for="Bicycling">Bicycling</label>

      <p>Would you like to define route in terms of time or distance?</p>
      <input
        type="radio"
        id="Time"
        name="time_or_distance"
        value="Time"
        onchange="t_or_d()"
      />
      <label for="Time">Time</label><br />
      <input
        type="radio"
        id="Distance"
        name="time_or_distance"
        value="Distance"
      />
      <label for="Distance">Distance</label>
    </form>
    <form id="timeform" class="inputs">
      <input id="time_input" type="number" />
      <label for="time_input"> Enter time in minutes </label>
    </form>
    <form id="distanceform" class="inputs">
      <input id="distance_input" type="number" />
      <label for="distance_input"> Enter distance in kilometres </label>
    </form>
    <h1 id="msg"></h1>
    <h1 id="response"></h1>
    <div id="map"></div>
    <script>
      var waypoints = {{waypoints}};
      function initMap() {
        var options = {
          zoom: 8,
          center: { lat: 51.51984798019271, lng: -1.658301414333887 },
        };
        var map = new google.maps.Map(document.getElementById("map"), options);
        const geocoder = new google.maps.Geocoder();

        // build request
        const origin1 = new google.maps.LatLng(
          waypoints[0][0],
          waypoints[0][1]
        );
        const destinationB = new google.maps.LatLng(
          waypoints[4][0],
          waypoints[4][1]
        );
        let directionsService = new google.maps.DirectionsService();
        let directionsRenderer = new google.maps.DirectionsRenderer();
        directionsRenderer.setMap(map); // Existing map object displays directions

        var waypts = [];

        stop = new google.maps.LatLng(waypoints[1][0], waypoints[1][1]);
        waypts.push({
          location: stop,
          stopover: true,
        });
        stop = new google.maps.LatLng(waypoints[2][0], waypoints[2][1]);
        waypts.push({
          location: stop,
          stopover: true,
        });
        stop = new google.maps.LatLng(waypoints[3][0], waypoints[3][1]);
        waypts.push({
          location: stop,
          stopover: true,
        });

        const route = {
          origin: origin1,
          destination: destinationB,
          travelMode: google.maps.DirectionsTravelMode.{{travel_method}},
          waypoints: waypts,
          optimizeWaypoints: true,
        };

        directionsService.route(route, function (response, status) {
          // anonymous function to capture directions
          if (status !== "OK") {
            window.alert("Directions request failed due to " + status);
            return;
          } else {
            directionsRenderer.setDirections(response); // Add route to the map
            var directionsData = response.routes[0].legs[0]; // Get data about the mapped route
            if (!directionsData) {
              window.alert("Directions request failed");
              return;
            } else {
              document.getElementById("msg").innerHTML +=
                "{{travel_method}} Distance is " +
                directionsData.distance.text +
                " (" +
                directionsData.duration.text +
                ").";
            }
          }
        });
      }
    </script>
    <script>
      function return_original() {
        var checkbox = document.getElementById("return_original");
        var end_loc_form = document.getElementById("form2");
        if (checkbox.checked) {
          end_loc_form.style.display = "none";
        } else {
          end_loc_form.style.display = "block";
        }
      }
      function t_or_d() {
        var time_box = document.getElementById("Time");
        var timeform = document.getElementById("timeforme");
        var distanceform = document.getElementById("distanceform");
        if (time_box.checked) {
          timeform.style.display = "block";
          distanceform.style.display = "none";
        } else {
          timeform.style.display = "none";
          distanceform.style.display = "block";
        }
      }
    </script>
    <script
      async
      defer
      id="map"
      src="https://maps.googleapis.com/maps/api/js?key={{website_key}}&callback=initMap&v=weekly"
    ></script>
  </body>
</html>
