{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>
  <body onload="format_inputs()">
    <form
      id="dataForm"
      class="inputs"
      name="dataForm"
      action="/route/"
      method="post"
    >
      {%csrf_token%}
      <div class="whole-form">
        <div class="locations-block">
          <label for="id_starting_location">Starting Location: </label>
          <input
            id="id_starting_location"
            type="text"
            name="starting_location"
            value="{{start_location}}"
          />
          <br />

          <label class="checkmark" for="id_return_original"
            >Return here?
            <input
              id="id_return_original"
              type="checkbox"
              onchange="return_o()"
              name="return_original"
              value="{{return_original}}"
            />
            <span class="checkbox"></span>
          </label>
          <br />

          <label id="ending_label" for="id_ending_location"
            >Ending Location:
          </label>
          <input
            id="id_ending_location"
            type="text"
            name="ending_location"
            value="{{end_location}}"
          />
        </div>

        <div class="travel-method-block">
          <p>Travel Method:</p>

          <label class="radio" for="id_travel_method_0"
            >Walking
            <input
              type="radio"
              id="id_travel_method_0"
              name="travel_method"
              value="Walking"
            />
            <span class="radio_button"></span> </label
          ><br />

          <label class="radio" for="id_travel_method_1"
            >Running
            <input
              type="radio"
              id="id_travel_method_1"
              name="travel_method"
              value="Running"
            />
            <span class="radio_button"></span> </label
          ><br />

          <label class="radio" for="id_travel_method_2"
            >Bicycling
            <input
              type="radio"
              id="id_travel_method_2"
              name="travel_method"
              value="Bicycling"
            />
            <span class="radio_button"></span>
          </label>
        </div>
        <div class="time-or-distance-block">
          <p>In time or distance?</p>

          <label class="radio" for="id_time_or_distance_0"
            >Time
            <input
              type="radio"
              id="id_time_or_distance_0"
              name="time_or_distance"
              value="1"
              onchange="t_or_d()"
            />
            <span class="radio_button"></span> </label
          ><br />

          <label class="radio" for="id_time_or_distance_1"
            >Distance
            <input
              type="radio"
              id="id_time_or_distance_1"
              name="time_or_distance"
              value="2"
              onchange="t_or_d()"
            />
            <span class="radio_button"></span>
          </label>

          <br />
          <br />

          <label id="id_time_label" for="id_time_input"
            >Enter time in minutes:
          </label>
          <input
            id="id_time_input"
            type="number"
            name="time_input"
            value="{{time}}"
          />

          <label id="id_distance_label" for="id_distance_input"
            >Enter distance in kilometres:
          </label>
          <input
            id="id_distance_input"
            type="number"
            step="0.1"
            name="distance_input"
            value="{{distance}}"
          />
        </div>
      

      <input type="submit" value="Submit" />
    </form>

    <h1 id="msg"></h1>
    <h1 id="response"></h1>
    <div id="map"></div>
    </div>
    <script>
      var waypoints = {{waypoints}};
      function initMap() {
        var options = {
          zoom: 8,
          center: { lat: 51.51984798019271, lng: -1.658301414333887 },
          mapId: '2d375d61697a7a62'
        };
        var map = new google.maps.Map(document.getElementById("map"), options);
        const geocoder = new google.maps.Geocoder();

        // build request
        const origin1 = new google.maps.LatLng(
          waypoints[0][0],
          waypoints[0][1]
        );
        const destinationB = new google.maps.LatLng(
          waypoints[6][0],
          waypoints[6][1]
        );

        var polyline_options = {
          strokeColor: '#0af090',
          strokeOpacity: 0.8,
          strokeWeight: 8
        }

        let marker_icon = {
          url: 'media\\43856.png',
          scaledSize: {
            width: 20,
            height: 20
          }
        }

        var marker_options = {
          icon: marker_icon,
          animation: 'drop'
        }

        var renderer_options = {
          map: map,
          {% comment %} markerOptions: new google.maps.MarkerOptions(marker_options),
          polylineOptions: new google.maps.PolylineOptions(polyline_options), {% endcomment %}
          markerOptions: marker_options,
          polylineOptions: polyline_options
        }

        let directionsService = new google.maps.DirectionsService();
        let directionsRenderer = new google.maps.DirectionsRenderer(renderer_options);
        directionsRenderer.setMap(map); // Existing map object displays directions

        var waypts = [];


        for(let i = 1; i < 6; i++){
          stop = new google.maps.LatLng(waypoints[i][0], waypoints[i][1]);
          waypts.push({
            location: stop,
            stopover: true,
          });
        }

        const route = {
          origin: origin1,
          destination: destinationB,
          travelMode: google.maps.DirectionsTravelMode.{{travel_method}},
          waypoints: waypts,
          //optimizeWaypoints: true,
        };

        directionsService.route(route, function (response, status) {
          // anonymous function to capture directions
          if (status !== "OK") {
            window.alert("Directions request failed due to " + status);
            return;
          } else {
            directionsRenderer.setDirections(response); // Add route to the map
            var directionsData = response.routes[0].legs[0]; // Get data about the mapped route
            if (!directionsData) {
              window.alert("Directions request failed");
              return;
            } else {
              document.getElementById("msg").innerHTML +=
                "{{travel_method}} Distance is " +
                '{{actual_distance}}' +
                "m (" +
                '{{actual_time}}' +
                " mins).";
            }
          }
        });
      }
    </script>
    <script>
      function return_o() {
        var checkbox = document.getElementById("id_return_original");
        var end_loc_inp = document.getElementById("id_ending_location");
        var end_loc_label = document.getElementById("ending_label");
        if (checkbox.checked) {
          end_loc_inp.style.display = "none";
          end_loc_label.style.display = "none";
        } else {
          end_loc_inp.style.display = "block";
          end_loc_label.style.display = "block";
        }
      }
      function t_or_d() {
        var time_box = document.getElementById("id_time_or_distance_0");
        var timeinp = document.getElementById("id_time_input");
        var timelabel = document.getElementById("id_time_label");
        var distanceinp = document.getElementById("id_distance_input");
        var distancelabel = document.getElementById("id_distance_label");
        if (time_box.checked) {
          timeinp.style.display = "block";
          timelabel.style.display = "block";
          distanceinp.style.display = "none";
          distancelabel.style.display = "none";
        } else {
          timeinp.style.display = "none";
          timelabel.style.display = "none";
          distanceinp.style.display = "block";
          distancelabel.style.display = "block";
        }
      }
      function format_inputs() {
        var timeinput = document.getElementById("id_time_input");
        var timelabel = document.getElementById("id_time_label");
        var distanceinput = document.getElementById("id_distance_input");
        var distancelabel = document.getElementById("id_distance_label");
        timeinput.style.display = "none";
        distanceinput.style.display = "none";
        timelabel.style.display = "none";
        distancelabel.style.display = "none";

        var travel_method = "{{travel_method}}";

        if (travel_method == "WALKING") {
          document.dataForm.travel_method[0].checked = true;
        } else if (travel_method == "RUNNING") {
          document.dataForm.travel_method[1].checked = true;
        } else if (travel_method == "BICYCLING") {
          document.dataForm.travel_method[2].checked = true;
        }

        if ("{{time}}" == "None") {
          document.dataForm.time_or_distance[1].checked = true;
        } else if ("{{distance}}" == "None") {
          document.dataForm.time_or_distance[0].checked = true;
        }

        if ("{{return_original}}" == "True") {
          document.dataForm.return_original.checked = true;
        } else {
          document.dataForm.return_original.checked = false;
        }
        t_or_d();
      }
    </script>
    <script
      async
      defer
      id="map"
      src="https://maps.googleapis.com/maps/api/js?key={{website_key}}&map_ids=2d375d61697a7a62&callback=initMap&v=weekly"
    ></script>
  </body>
</html>
