<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      #map {
        height: 400px;
        width: 100%;
      }
    </style>
  </head>
  <body>
    <h1 id="msg"></h1>
    <h1 id="response"></h1>
    <ul>
      {% for x in waypoints %}
      <li>{{x}}</li>
      {% endfor %}
    </ul>
    <div id="map"></div>
    <script>
      var waypoints = {{waypoints}};
      function initMap() {
        var options = {
          zoom: 8,
          center: { lat: 51.51984798019271, lng: -1.658301414333887 },
        };
        var map = new google.maps.Map(document.getElementById("map"), options);
        const geocoder = new google.maps.Geocoder();

        // build request
        const origin1 = new google.maps.LatLng(
          waypoints[0][0],
          waypoints[0][1]
        );
        const destinationB = new google.maps.LatLng(
          waypoints[4][0],
          waypoints[4][1]
        );
        let directionsService = new google.maps.DirectionsService();
        let directionsRenderer = new google.maps.DirectionsRenderer();
        directionsRenderer.setMap(map); // Existing map object displays directions

        var waypts = [];

        stop = new google.maps.LatLng(waypoints[1][0], waypoints[1][1]);
        waypts.push({
          location: stop,
          stopover: true,
        });
        stop = new google.maps.LatLng(waypoints[2][0], waypoints[2][1]);
        waypts.push({
          location: stop,
          stopover: true,
        });
        stop = new google.maps.LatLng(waypoints[3][0], waypoints[3][1]);
        waypts.push({
          location: stop,
          stopover: true,
        });

        const route = {
          origin: origin1,
          destination: destinationB,
          travelMode: google.maps.DirectionsTravelMode.WALKING,
          waypoints: waypts,
          optimizeWaypoints: true,
        };

        directionsService.route(route, function (response, status) {
          // anonymous function to capture directions
          if (status !== "OK") {
            window.alert("Directions request failed due to " + status);
            return;
          } else {
            directionsRenderer.setDirections(response); // Add route to the map
            var directionsData = response.routes[0].legs[0]; // Get data about the mapped route
            if (!directionsData) {
              window.alert("Directions request failed");
              return;
            } else {
              document.getElementById("msg").innerHTML +=
                " Driving distance is " +
                directionsData.distance.text +
                " (" +
                directionsData.duration.text +
                ").";
            }
          }
        });
      }
    </script>
    <script
      async
      defer
      id="map"
      src="https://maps.googleapis.com/maps/api/js?key={{website_key}}&callback=initMap&v=weekly"
    ></script>
  </body>
</html>
