<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      #map {
        height: 400px;
        width: 100%;
      }
      .inputs {
        font-family: Courier New;
      }
    </style>
  </head>
  <body onload="format_inputs()">
    <form id="dataForm" class="inputs" name="dataForm">
      <label for="starting_loctation">Starting Location: </label><br />
      <input id="starting_loctation" type="text" name="starting_loctation" />

      <label for="return_original">Return back here?</label><br />
      <input
        id="return_original"
        type="checkbox"
        onchange="return_original()"
        name="return_original"
      />

      <label for="ending_location">Ending Location: </label>
      <input id="ending_location" type="text" name="ending_location" />
      <br />

      <p>Travel Method:</p>

      <label for="Walking">Walking</label><br />
      <input type="radio" id="Walking" name="travel_method" value="Walking" />
      <label for="Running">Running</label><br />
      <input type="radio" id="Running" name="travel_method" value="Running" />
      <label for="Bicycling">Bicycling</label>
      <input
        type="radio"
        id="Bicycling"
        name="travel_method"
        value="Bicycling"
      />

      <p>Would you like to define route in terms of time or distance?</p>

      <label for="Time">Time </label><br />
      <input
        type="radio"
        id="Time"
        name="time_or_distance"
        value="Time"
        onchange="t_or_d()"
      />

      <label for="Distance">Distance </label>
      <input
        type="radio"
        id="Distance"
        name="time_or_distance"
        value="Distance"
      />

      <label for="time_input">Enter time in minutes: </label>
      <input id="time_input" type="number" name="time_input" />

      <label for="distance_input">Enter distance in kilometres: </label>
      <input id="distance_input" type="number" />

      <input type="submit" value="Submit" />
    </form>

    <form>
      {% csrf_token %} {{form}}
      <input type="submit" value="Submit" />
    </form>
    <script>
      function return_original() {
        var checkbox = document.getElementById("return_original");
        var end_loc_inp = document.getElementById("ending_location");
        if (checkbox.checked) {
          end_loc_inp.style.display = "none";
        } else {
          end_loc_inp.style.display = "block";
        }
      }
      function t_or_d() {
        var time_box = document.getElementById("Time");
        var timeinp = document.getElementById("time_input");
        var distanceinp = document.getElementById("distance_input");
        if (time_box.checked) {
          timeinp.style.display = "block";
          distanceinp.style.display = "none";
        } else {
          timeinp.style.display = "none";
          distanceinp.style.display = "block";
        }
      }
      function format_inputs() {
        var timeform = document.getElementById("timeform");
        var distanceform = document.getElementById("distanceform");
        distanceform.style.display = "none";
        timeform.style.display = "none";
      }
    </script>
  </body>
</html>
