#ignore all .txt files
*.txt
*.js
*.pem
env/Lib/site-packages/
env/Lib/
Tests/
__pycache__/
env/routeFinder/route/key.txt
env/routeFinder/route/programs/key.txt
env/Scripts/
env/Include/
git-filter-repo.py
env/routeFinder/route/coordinates.py
run_server.cmd