#map {
  height: 400px;
  border-radius: 10px;
  border-width: 5px;
  border-style: solid;
  border-color: #0a3f03;
}
.inputs {
  font-family: cascadia-code, monospace;
  color: white;
}
body {
  background-color: #719e66;
  font-family: cascadia-code, monospace;
  align-items: center;
  align-self: center;
  width: 90%;
  margin: auto;
  margin-bottom: 40px;
}
label {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 20px;
}

.locations-block {
  width: 40%;
}

.travel-method-block {
  width: 20%;
}

.time-or-distance-block {
  width: 40%;
}

input[type="radio"] {
  margin-right: 0px;
  margin-left: 20px;
}
input[type="text"],
input[type="number"] {
  width: 50%;
  padding: 10px;
  margin: 5px 0 15px 0;
  display: inline-block;
  border: 5px solid #0a3f03;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: #719e66;
  font-family: cascadia-code, monospace;
  font-weight: bold;
  font-size: 15px;
  color: white;
}
input[type="submit"] {
  background-color: #0a3f03;
  color: white;
  padding: 10px 20px;
  margin: 4px 2px;
  border: 5px solid #0a3f03;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
  height: auto;
  font-size: 30px;
  align-self: right;
}

input[type="submit"]:hover {
  background-color: #3c862a;
  border: 5px solid #0a3f03;
}

/* TEXT BOX STYLES */
.text-input {
  cursor: pointer;
}

.textbox:hover {
  border: 5px solid #3c862a;
}

/* NUMBER BOX STYLES */

/*CHECKBOX STYLES*/
input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  font-size: 22px;
}

label.checkmark {
  display: block;
  position: relative;
  padding-left: 50px;
  padding-top: 5px;
  cursor: pointer;
  font-size: 20px;
  display: flex;
}

.checkbox {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border-radius: 10px;
  border: 5px solid #0a3f03;
}
.checkmark:hover input ~ .checkbox {
  border: 5px solid #3c862a;
}
.checkmark input:checked ~ .checkbox {
  border: 5px solid #0a3f03;
  background-color: #3c862a;
}
.checkbox:after {
  content: "";
  position: absolute;
  display: none;
}
.checkmark input:checked ~ .checkbox:after {
  display: block;
}

.checkmark .checkbox:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* RADIO BUTTON STYLES */

label.radio {
  display: block;
  font-weight: normal;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 18px;
}

input[type="radio"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.radio {
  cursor: pointer;
}

.radio_button {
  position: absolute;
  top: 0;
  left: 0;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  border: 5px solid #0a3f03;
}

.radio:hover input ~ .radio_button {
  border: 5px solid #3c862a;
}

.radio input:checked ~ .radio_button {
  background-color: #3c862a;
}

.radio:after {
  content: "";
  position: absolute;
  display: none;
}

.radio input:checked ~ .radio_button:after {
  display: block;
}

.radio .radio_button:after {
  top: 9px;
  left: 9px;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background: white;
}

p {
  font-weight: bold;
  font-size: 20px;
}

#dataForm {
  margin: 0 0 0 0;
}

div.whole-form {
  padding: 20px;

  width: 90%;

  background-color: rgb(62, 100, 53);
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  border-radius: 10px;
  border: 5px solid #0a3f03;
}
div.form-inputs {
  flex-direction: row;
  display: flex;
}
